body,html {scroll-behavior: smooth;}
/* header */
.main_bg {
    background: url(../images/main_background.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width:100%;
} /* 배경넣기 */
header {
    margin:0 auto;
    width:calc(100% - 70px);
    text-align: center;
    position: fixed; left:50%; transform: translateX(-50%);
    z-index: 100;
}
header nav {}
header nav .gnb {
    padding-top:30px;
    padding-bottom: 20px ;
    border-bottom: 2px solid #000;
}
header nav .gnb a {}
header nav .gnb a:first-child {margin-left: 0;}
header nav .gnb a span {}
header nav .gnb a .title {
    font-family: 'NeoDunggeunmoPro-Regular';
    font-size: 2.35rem; line-height: 40px;
    margin-left: 100px;
}
header nav .gnb a .smile {
    position: relative; top:7px;
    display: none;
}
header nav .gnb a .smile img {}
/* toggle */
nav .gnb span.active {display:inline-block !important;}
/* main */
main {
    width:calc(100% - 70px); margin:0 auto;
    padding-top: 100px;
}
/* cloud */
main .cloud {
    z-index: 110;
    width: 100px; height: 100px;
    display: flex; flex-flow: column nowrap;
    position:absolute; top:30%; right:0; position: fixed;
}
main .cloud a {}
/* main .cloud a:hover {animation:move 0.8s linear alternate infinite;} */
main .cloud a img {width: 100%;}
@keyframes move {
    0% {transform:translateY(0px);}
    100% {transform:translateY(15px);}
}
/* toggle */
main .animation {animation:move 0.8s linear alternate infinite !important;}
/* section 1 */
main .section {z-index: 90; height: 100vh; width:100%; padding-top:20px ;}
main .section1 {/* background-color: tan; */padding-top:50px ;} 
main .section1 .home_bg {
    width:1236px; height: 793px;
    background-image: url(../images/main-home.png);
    background-repeat: no-repeat;
    /* background-color: pink; */
    position:absolute; left:50%; transform: translateX(-50%);
}
 /*section 2  */
main .section2 {}
main .section2 h1 {text-align: center; margin-top: 10px;}
main .section2 h1 img {}
main .section2 .skill {/* background-color: lightsalmon; */ padding-right: 100px; padding-top: 40px;}
main .section2 .skill .container {display: flex; flex-flow: column wrap; align-items: center; height: 700px;}
main .section2 .skill .container li {display: flex; flex-flow: row nowrap; align-items: center; width:45%; padding:20px 80px 20px 0;}
main .section2 .skill .container li span {}
main .section2 .skill .container li .icon {margin:0 60px;}
main .section2 .skill .container li .icon img {}
main .section2 .skill .container li .contents {font-size: 1.15rem; line-height: 30px;}
main .section2 .skill .container {}
main .section2 .skill .container li {display: flex; flex-flow: row nowrap; align-items: center;}
main .section2 .skill .container li span {}
main .section2 .skill .container li:nth-of-type(6) .icon {padding-right:0; margin-right:72px;}
main .section2 .skill .container li:nth-of-type(7) .icon {padding-right:0; margin-right: 23px;}
main .section2 .skill .container li:nth-of-type(8) .icon {padding-right:0; margin-right: 68px;}
main .section2 .skill .container li:nth-of-type(9) .icon {padding-right:0; margin-right: 58px;}
main .section2 .skill .container li .icon img {}
main .section2 .skill .container li .contents {font-size: 1.15rem; line-height: 30px;}
/* section 3 */
main .section3 {/* background-color: lavender; */}
main .section3 h1 {/* background-color: aqua; */
    text-align: center; margin-bottom:38px;}
main .section3 h1 img {}
main .section3 .profile {display: flex; flex-flow: row nowrap; margin-top: 50px; padding-left: 60px;}
main .section3 .profile .pf_left {margin-left:100px;}
main .section3 .profile .pf_left .pro_img {}
main .section3 .profile .pf_left .pro_img img {}
main .section3 .profile .pf_left .pro_con1 {margin-top: 25px;}
main .section3 .profile .pf_left .pro_con1 h2 {font-size: 2.1rem; letter-spacing: -0.08em; font-weight: 200;}
main .section3 .profile .pf_left .pro_con1 h2 em {font-size: 2.1rem; letter-spacing: -0.08em; font-weight: 400; line-height: 30px;}
main .section3 .profile .pf_left .pro_con1 p {font-size:1.15rem; letter-spacing: -0.06em;}
main .section3 .profile .pf_left .pro_con1 p em {font-size:1.5rem; font-weight: 600; letter-spacing: -0.06em;}
main .section3 .profile .pf_left .pro_con2 {padding-top: 36px;}
main .section3 .profile .pf_left .pro_con2 h2 {font-size: 2.1rem; letter-spacing: -0.08em; font-weight: 400;}
main .section3 .profile .pf_left .pro_con2 p {font-size:1.15rem; letter-spacing: -0.06em; line-height: 30px;}
main .section3 .profile .pf_right {margin-left: 200px; /* background-color: beige; */}
main .section3 .profile .pf_right .pf_rightTop {}
main .section3 .profile .pf_right .pf_rightTop h2 {font-size: 2.1rem; letter-spacing: -0.08em; font-weight: 400;}
main .section3 .profile .pf_right .pf_rightTop ul {}
main .section3 .profile .pf_right .pf_rightTop ul li {margin-top: 25px;}
main .section3 .profile .pf_right .pf_rightTop ul li span {font-size: 1.5rem; letter-spacing: -0.05em;}
main .section3 .profile .pf_right .pf_rightTop ul li:nth-of-type(1) .pf_date {margin-right:52px;}
main .section3 .profile .pf_right .pf_rightTop ul li:nth-of-type(2) .pf_date {margin-right:53px;}
main .section3 .profile .pf_right .pf_rightTop ul li:nth-of-type(3) .pf_date {margin-right:45px;}
main .section3 .profile .pf_right .pf_rightTop ul li .pf_date {}
main .section3 .profile .pf_right .pf_rightTop ul li .pf_contents {}
main .section3 .profile .pf_right .pf_rightBtm {}
main .section3 .profile .pf_right .pf_rightBtm h2 {margin-top: 70px; font-size: 2.1rem; letter-spacing: -0.08em; font-weight: 400;}
main .section3 .profile .pf_right .pf_rightBtm ul {}
main .section3 .profile .pf_right .pf_rightBtm ul li {margin-top: 25px;}
main .section3 .profile .pf_right .pf_rightBtm ul li span {font-size: 1.5rem; letter-spacing: -0.05em;}
main .section3 .profile .pf_right .pf_rightBtm ul li:nth-of-type(1) .pf_date {margin-right: 45px;}
main .section3 .profile .pf_right .pf_rightBtm ul li:nth-of-type(2) .pf_date {margin-right:50px;}
main .section3 .profile .pf_right .pf_rightBtm ul li:nth-of-type(3) .pf_date {margin-right:54px;}
main .section3 .profile .pf_right .pf_rightBtm ul li:nth-of-type(4) .pf_date {margin-right:50px;}
main .section3 .profile .pf_right .pf_rightBtm ul li:nth-of-type(5) .pf_date {margin-right:50px;}
main .section3 .profile .pf_right .pf_rightBtm ul li .pf_date {}
main .section3 .profile .pf_right .pf_rightBtm ul li .pf_contents {}
/* section 4 */
main .section4 {/* background-color: thistle; */}
main .section4 .webDesign {position: relative;}
main .section4 .webDesign .webD_bg {
    background-image: url(../images/web_title.png);
    background-size: cover;
    width:900px; height: 439px;
    position: absolute; top:100px; left:50%; transform: translateX(-50%);
}
/* section 5 */
main .section5 {/* background-color: silver; */}
main .section5 .project {display:flex; justify-content: center; align-items: center;}
main .section5 .project {display:flex; justify-content: center; align-items: center;}
main .section5 .project .project_right {margin-left: 100px;}
main .section5 .project .project_right h1 {color:#222; font-size: 3.5rem; font-weight: 800; text-align: center;}
main .section5 .project .project_right .project_link {text-align: center; margin-top: 70px;}
main .section5 .project .project_right .project_link a:hover {color:#ffcccc; background-color: #222;}
main .section5 .project .project_right .project_link a:first-child {margin-left: 0;}
main .section5 .project .project_right .project_link a {
    font-size: 1.3rem; letter-spacing: 0.05em; font-weight: 800;
    border:2px solid #222; padding: 15px 20px;
    margin-left: 30px;
}
main .section5 .project .vMockup {
    text-align: center;
    margin-top: 50px;
}
main .section5 .project .vMockup img {}
main .section5 .project .vContents {
    padding-top: 50px;
    display: flex; flex-flow: row nowrap; align-items: center; justify-content: center;
}
main .section5 .project2 .vContents {display: flex; flex-flow: row nowrap; align-items: flex-start; justify-content: center;}
main .section5 .project .project_right .vContents .vcon_left {padding-right: 50px;}
main .section5 .project .project_right .vContents .vcon_left p {line-height: 40px; text-align: right; font-size: 1.3rem; font-weight: 600;}
main .section5 .project .project_right .vContents .vcon_right {width: 481px;}
main .section5 .project .project_right .vContents .vcon_right p {line-height: 40px; text-align: left; font-size: 1.3rem; font-weight: 400;}
main .section5 .project .project_right .vContents .vcon_right p em {text-align: left; font-size: 1.3rem; font-weight: 700;}
/* section 6 */
main .section6 {/* background-color: steelblue; */ position:relative;}
main .section6 h1 {text-align: center; margin-bottom: 95px;}
main .section6 h1 img {}
main .section6 .snsDesign {}
main .section6 .snsDesign h2 {font-size: 3.2rem; letter-spacing: -0.05em; text-align: center; margin-bottom: 40px;}
main .section6 .snsDesign #snsWrap {}
/* 스와이퍼 슬라이드 */
main .section6 .snsDesign #snsWrap #sns_slide {max-width:1440px; }
main .section6 .snsDesign #snsWrap #sns_slide .swiper-wrapper {}
main .section6 .snsDesign #snsWrap #sns_slide .swiper-wrapper .swiper-slide { 
    display: flex; flex-flow: row nowrap;
    justify-content: center;
}
main .section6 .snsDesign #snsWrap #sns_slide .swiper-wrapper .swiper-slide a img:hover {transform:scale(1.1);}
main .section6 .snsDesign #snsWrap #sns_slide .swiper-wrapper .swiper-slide a {overflow: hidden; width:400px; height:400px; border-radius: 10px; border:3px solid #000;}
main .section6 .snsDesign #snsWrap #sns_slide .swiper-wrapper .swiper-slide a img {width:400px; height:400px; transition: all 0.3s linear;}
main .section6 .snsDesign #snsWrap .swiper-button-prev {background:url(../images/icon/icon_prev.png) no-repeat; width: 50px; height: 50px; left:100px;}
main .section6 .snsDesign #snsWrap .swiper-button-next {background:url(../images/icon/icon_next.png) no-repeat; width: 50px; height: 50px; right:100px;}
main .section6 .snsDesign #snsWrap .swiper-button-prev::after,
main .section6 .snsDesign #snsWrap .swiper-button-next::after {display: none;}
main .section6 .snsDesign #snsWrap .swiper-button-prev,
main .section6 .snsDesign #snsWrap .swiper-button-next {position:absolute; top:55%;}